@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    color: #0969DA;
}

h1{
    color: #B6E3FF;
}

h2,h3 {
    color: #006d32;
}

p {
    color: #54AEFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #0d1117;
}

.container {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    background-color: #1c24306f;
    padding: 50px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 20px;
}

h1 {
    margin-bottom: 20px;
}

#generatedPassword, #copyPassword {
    font-size: 15px;
    padding: 10px;
    background-color: rgba(1, 31, 75, 0.301);
    color: #B6E3FF
}

.settings-checkbox {
    display: flex;
    margin-left: 90px;
}

.setting-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.setting-group label {
    margin-left: 10px;
    margin-right: 40px;
}

.setting-group input[type="checkbox"] {
    width: 30px;
    height: 25px;
}

.password-length {
    flex-direction: column;
    margin-top: 10px;
}

.password-length input {
    width: 250px;
}

#generatePassword {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    width: 400px;
    background-color: rgba(1, 31, 75, 0.301);
    color: #B6E3FF
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #0d1117;
    padding: 50px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 20px;
}

.Documentation {
    text-align: 3%;
    background-color: #1c24306f;
    padding: 50px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 20px;
}

